[submodule "htmlize"]
	path = htmlize
	url = http://fly.srk.fer.hr/~hniksic/emacs/htmlize.git
[submodule "plantuml-mode"]
	path = plantuml-mode
	url = git@github.com:jharig23/plantuml-mode.git
[submodule "groovy-emacs-modes"]
	path = groovy-emacs-modes
	url = git@github.com:Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "json-mode"]
	path = json-mode
	url = git@github.com:jharig23/json-mode.git
